<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Dhruti's Recipe Blog</h1>
    <nav>
        <div class="nav-left">
            <h1>Welcome!</h1>
        </div>
        <div class="nav-right">
            <button onclick="window.location.href='/'">Home</button>
            <button onclick="window.location.href='login.html'">Login</button>
            <button onclick="window.location.href='register.html'">Register</button>
            <a href="add_recipe.html">Add Recipe</a>
            <div class="profile-menu">
                <button class="profile-button">Profile</button>
                <div class="profile-dropdown">
                    <a href="#" id="viewMyRecipes">My Recipes</a>
                    <a href="#" id="signOut">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="userEmail" style="display:none;"></div>

    <input type="text" id="search" placeholder="What do you want to eat?" onkeyup="search()">
    <button onclick="search()">Go</button>
    <div id="recipes"></div>

    <script src="/js/main.js"></script>
</body>

</html>